In [2]:
import os
import numpy as np
import pandas as pd
import numpy as np,pandas as pd
dataset=pd.read_csv('car.csv')
dataset.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [21]:
import os
import numpy as np
import pandas as pd
dataset=pd.read_csv('car.csv')(names['buying','maintenance','doors','persons','luggage','safety','class'])

NameError: name 'names' is not defined

In [17]:
import os
import numpy as np
import pandas as pd
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree, metrics, model_selection

data = pd.read_csv('car.csv',names=['buying','maintenance','doors','persons','luggage','safety','class'])
data.head()

  buying maintenance doors persons luggage safety  class
0  vhigh       vhigh     2       2   small    low  unacc
1  vhigh       vhigh     2       2   small    med  unacc
2  vhigh       vhigh     2       2   small   high  unacc
3  vhigh       vhigh     2       2     med    low  unacc
4  vhigh       vhigh     2       2     med    med  unacc

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   buying       1728 non-null   object
 1   maintenance  1728 non-null   object
 2   doors        1728 non-null   object
 3   persons      1728 non-null   object
 4   luggage      1728 non-null   object
 5   safety       1728 non-null   object
 6   class        1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [20]:
data['class'],class_names = pd.factorize(data['class'])

print(class_names)
print(data['class'].unique())
data['buying'],_ = pd.factorize(data['buying'])
data['maintenance'],_ = pd.factorize(data['maintenance'])
data['doors'],_=pd.factorize(data['doors'])
data['persons'],_=pd.factorize(data['persons'])
data['luggage'],_=pd.factorize(data['luggage'])
data['safety'],_=pd.factorize(data['safety'])
data['class'],_=pd.factorize(data['class'])

Int64Index([0, 1, 2, 3], dtype='int64')
[0 1 2 3]

In [13]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=0)
dtree = tree.DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)
dtree.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)

In [14]:
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

NameError: name 'y_pred' is not defined

In [15]:
y_pred = dtree.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))
Accuracy: 0.82

Accuracy: 0.82

In [16]:
count_misclassified = (y_test != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))

Misclassified samples: 96